
/* Header Elements Styling*/
.header{
    color: white;

    padding: 10px;
 
    display: flex;
    justify-content: space-between;

    background-color: rgba(0, 0, 0, 0.804);

}

.searchBar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
.searchTitle{
    padding-left: 10px;
    padding-right: 10px;
}

.dateSlider{
    display: flex;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
}
.yearTitle{
    padding-left: 10px;
    padding-right: 10px;
}

.contentTypeButtons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
.typeTitle{
    padding-left: 10px;
    padding-right: 10px;
}

/* Movie Info Overall Block */
.movieInfoBlock{
    display: flex;
    flex-direction: row; 
    justify-content: space-around;

    background-color: darkgreen;
}

/* Movie Info, Right Block Styling */
.movieInfoRightBlock{
    padding-top: 10px;
    display: flex;

    flex-direction: column;
    align-items: center;

    background-color: red;    
}

.posterAndTitleInfo{
    display: flex;
    flex-direction: row;
}

.titleAndCast{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    
    padding: 0px 20px 0px 20px;
    background-color: blue;
}
.title{
    display: flex;
    align-items: center;
    background-color: violet;
}

.cast{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-color: aqua;
}

.plot{
    padding-top: 10px;
    display: flex;
    background-color: antiquewhite;
    width: 800px;
}

.scores{
    display: flex;
    flex-direction: row;
    width: 800px;
    justify-content: space-around;
    background-color:rgb(108, 108, 149);
}
.scores .rottenTomatoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.scores .internetMovieDatabase{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.scores .metacritic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Movie List, Left Block Styling */
.movieListLeftBlock{
    background-color: brown;
    display: flex;
    flex-direction: column;
}